.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98%; /* Chiều cao của trang */
    background-image: url("/src/static/img/background.jpg"); /* Đường dẫn đến hình nền */
    background-size: cover; /* Kích thước hình nền để bao phủ toàn bộ phần tử */
    background-position: center; /* Căn giữa hình nền */
    background-repeat: no-repeat; /* Không lặp lại hình nền */
    padding: 0px 20px;
    color: white;
    /* margin: 2px; */
    width: 100%;
}

.login-container-home {
    background: rgba(255, 255, 255, 0.85); /* Semi-transparent background for the form */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    margin: 20px;
}

.homeTitle {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 4rem; /* Kích thước chữ tiêu đề */
    color: #d64c16; /* Màu chữ tiêu đề */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Thêm hiệu ứng bóng cho chữ */
    text-align: center;
}

.homeButtons {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các nút */
    justify-content: center;
}

.homeButton {
    margin-top: 100px;
    width: 250px; /* Chiều rộng của các nút */
    height: 200px;
    padding: 10px; /* Khoảng cách bên trong */
    font-size: 2rem; /* Kích thước chữ của nút */
    font-weight: bold;
    border: none; /* Bỏ đường viền của nút */
    border-radius: 5px; /* Bo góc của nút */
}

.homeButton:hover {
    background-color: rgba(29, 14, 231, 0.7); /* Thay đổi màu nền khi hover */
}
.btnl {
    background-color: #e9eaee;
    color: #031085; /* Màu chữ của nút */
    border: 1px solid #031085;
}
.btnc {
    background-color: #031085;
    color: #e3e4ec; /* Màu chữ của nút */
}