.footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__section {
    margin: 10px;
}

.footer__section h4 {
    margin-bottom: 10px;
}

.footer__section ul {
    list-style: none;
    padding: 0;
}

.footer__section ul li {
    margin-bottom: 5px;
}

.footer__section ul li a {
    color: #ecf0f1;
    text-decoration: none;
}

.footer__section ul li a:hover {
    text-decoration: underline;
}

.footer__section p {
    margin: 5px 0;
}